.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    background-color: #000000;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  /* Стиль для логотипа */
  .header__logo h1 {
    font-size: 1rem;
    margin: 0;
    color: #ecf0f1;
  }
  .header__logo b {
    font-size: 1.5rem;
    margin: 0;
    color: #48ff00;
    
  }
  

  .header__nav {
    display: flex;
    gap: 1rem;
  }
  
  .header__nav-link {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .header__nav-link:hover {
    color: #3498db;
  }
  

  .header__buttons {
    display: flex;
    gap: 0.5rem;
  }
  
  .header__button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .header__button:hover {
    background-color: #2980b9;
  }
  
 
  .header__button--register {
    background-color: #e74c3c;
  }
  
  .header__button--register:hover {
    background-color: #c0392b;
  }